/* 带加线的音符 */
.staff-note.ledger::before {
    content: '';
    position: absolute;
    width: 48px;
    height: 2px;
    background: black;
    z-index: 4;
}

/* 下方加线 */
.staff-note.ledger[data-ledger-direction="below"]::before {
    top: calc(50% + 14px);
}

/* 上方加线 */
.staff-note.ledger[data-ledger-direction="above"]::before {
    top: calc(50% - 16px);
}

/* 多条加线：用 box-shadow 模拟 */
.staff-note.ledger[data-ledger-count="2"]::before {
    box-shadow: 
        0 10px 0 0 black,
        0 -10px 0 0 black;
}

.staff-note.ledger[data-ledger-count="3"]::before {
    box-shadow: 
        0 10px 0 0 black,
        0 20px 0 0 black,
        0 -10px 0 0 black,
        0 -20px 0 0 black;
}

.staff-note.ledger[data-ledger-count="4"]::before {
    box-shadow: 
        0 10px 0 0 black,
        0 20px 0 0 black,
        0 30px 0 0 black,
        0 -10px 0 0 black,
        0 -20px 0 0 black,
        0 -30px 0 0 black;
}
